.hotels {
  &-header {
    display: flex;
    justify-content: space-between;
    margin-top: 3.7rem;
    margin-bottom: 2.4rem;
  }

  p {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0em;
    text-align: left;
  }
  .stays {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.7rem;
    letter-spacing: 0em;
    text-align: left;
  }
  &-items {
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    gap: 32px 32px;
  }
  @media (min-width: 70em) {
    &-items {
      grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }
  }
}
